html {
    box-sizing: border-box;
    min-height: 100%;
    background-color: #EFEFEF;
}

html,
body {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
}

a {
    font-weight: 100;
    letter-spacing: 0.081em;
    text-decoration: none;
    width: 100%;
    transition: all 0.5s;
}

a:hover {
    color: grey;
}

/* nav bar */
.toggleNav {
    display: none;
}

.wrapper {
    max-width: 100vw;
    margin: 0 auto;
    width: 90%;
}

/* nav bar parent */
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

/* nav bar */
.flex-nav {
    background: #333;
    padding: 20px;
    /*border: 1px solid red;*/
}

.flex-nav a {
    color: #fff;
    text-align: center;
}

.flex-nav div {
    display: none;
}

.flex-nav ul {
    max-width: 1048px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.wrapper:nth-child(1){
    padding-top: 6rem;
}

.searchContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search {
    padding: 10px;
    width: 50%;
    font-size: 16px;
}

.searchContainer input {
    margin: 0 auto;
}

li {
    list-style-type: none;
}

button {
    margin: 1em auto;
    padding: 10px;
    border-radius: 10px;
    background: hotpink;
}